/**
* Icons are from:
* http://icomoon.io/app/
* http://www.iconarchive.com/show/ios7-icons-by-icons8.html
* http://www.iconarchive.com/show/windows-8-icons-by-icons8.html
**/

html, body {
    height: 100%;
}

/* IE10-11 styles */
html[data-useragent*='MSIE 10.0'] .fm-container .fm-header button,
html[data-useragent*='MSIE 11.0'] .fm-container .fm-header button {
    vertical-align: top;
}
html[data-useragent*='MSIE 10.0'] .fm-container #file-input-container,
html[data-useragent*='MSIE 11.0'] .fm-container #file-input-container {
    width: 220px;
    height: 32px;
    overflow: hidden;
}
html[data-useragent*='MSIE 10.0'] .fm-container #filepath,
html[data-useragent*='MSIE 11.0'] .fm-container #filepath {
    height: 22px;
}
html[data-useragent*='MSIE 10.0'] .fm-container #newfile,
html[data-useragent*='MSIE 11.0'] .fm-container #newfile {
    height: 23px;
}

.fm-container * {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: content-box;
}

.fm-container {
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.fm-container .fm-wrapper {
    height: 100%;
    padding: 10px;
}

.fm-container .fm-header {
    display: block;
    text-align: right;
    height: auto;
    min-height: 30px;
    overflow: hidden;
}

.fm-container .fm-header .breadcrumbs {
    display: block;
    float: left;
    padding: 0.2em 0 0 1em;
    line-height: 1.5em;
    font-size: 0.9em;
    font-weight: bold;
}

.fm-container .fm-header .breadcrumbs * {
    float: left;
}

.fm-container .fm-header .breadcrumbs .separator {
    color: #999999;
    margin: 0 5px;
}

.fm-container .fm-header .breadcrumbs .nav-title {
    margin-right: 10px;
}

.fm-container .fm-header .breadcrumbs .nav-item:not(.active) {
    cursor: pointer;
}

.fm-container .fm-header .breadcrumbs .nav-item.root {
    width: 20px;
    height: 20px;
    background-image: url(../images/nav/grey/home.png);
    background-size: 20px;
}

.fm-container .button-group .btn {
    color: #777777;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.fm-container .fm-header .buttons-panel {
    float: right;
    margin-bottom: 0.5em;
}

.fm-container .fm-header .button-group {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.fm-container .fm-header .button-group .btn {
    margin: 0 1px;
}

.fm-container .fm-preview .button-group .btn {
    padding: 0.1em 0.3em;
    margin: 0 0.2em 0.5em 0.2em;
    line-height: 1.7em;
}

.fm-container .button-group .btn.active {
    background-color: #C3D2F7;
    border-color: #aac2ff;
}

.fm-container .button-group .btn.disabled {
    background-color: #c5c5c5;
}

.fm-container .button-group .separator {
    width: 2px;
    margin: 1px 5px 0;
    padding: 3px 1px;
    border: none;
    cursor: default;
}

.fm-container .button-group .btn span {
    display: block;
    padding-left: 20px;
    line-height: 17px;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    white-space: nowrap;
}

.fm-container .button-group .btn:not(.disabled):hover {
    background-color: #ffffff;
}

.fm-container .button-group .btn:active,
.fm-container .button-group .btn:focus {
    color:#000;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

.fm-container .button-group .btn.no-label span {
    background-position: center center;
}

.fm-container .fm-header select.lang-selector {
    width: 45px;
}

.fm-container .fm-header .btn-nav-home span {
    background-image: url(../images/nav/grey/home.png);
}
.fm-container .fm-header .btn-nav-level-up span {
    background-image: url(../images/nav/grey/level-up.png);
}
.fm-container .fm-header .btn-nav-refresh span {
    background-image: url(../images/nav/grey/refresh.png);
}
.fm-container .fm-header .btn-grid-mode span {
    background-image: url(../images/application_view_icons.png);
}
.fm-container .fm-header .btn-list-mode span {
    background-image: url(../images/application_view_list.png);
}
.fm-container .fm-header .btn-create-folder span {
    background-image: url(../images/folder_add.png);
}
.fm-container .fm-header .btn-close-window span {
    background-image: url(../images/reset_dark.png);
}
.fm-container .fm-header .btn-clipboard-cut span {
    background-image: url(../images/clipboard/clipboard_cut.png);
}
.fm-container .fm-header .btn-clipboard-copy span {
    background-image: url(../images/clipboard/clipboard_copy.png);
}
.fm-container .fm-header .btn-clipboard-paste span {
    background-image: url(../images/clipboard/clipboard_paste.png);
}
.fm-container .fm-header .btn-clipboard-clear span {
    background-image: url(../images/clipboard/clipboard_clear.png);
}
.fm-container .fm-header .btn-filter-audio span {
    background-image: url(../images/filter/grey/file-audio.png);
}
.fm-container .fm-header .btn-filter-archive span {
    background-image: url(../images/filter/grey/file-archive.png);
}
.fm-container .fm-header .btn-filter-office span {
    background-image: url(../images/filter/grey/file-office.png);
}
.fm-container .fm-header .btn-filter-image span {
    background-image: url(../images/filter/grey/file-image.png);
}
.fm-container .fm-header .btn-filter-media span {
    background-image: url(../images/filter/grey/file-media.png);
}
.fm-container .fm-header .btn-filter-reset span {
    background-image: url(../images/filter/grey/file-all.png);
}
.fm-container .fm-header .btn-filter-video span {
    background-image: url(../images/filter/grey/file-video.png);
}
.fm-container .fm-header .fm-upload span {
    background-image: url(../images/upload.png);
}
.fm-container .fm-header .fm-upload.loading span {
    background-image: url(../images/ajax-loader.gif);
    color: #555555;
    font-size: 0.9em;
}

.fm-container .fm-splitter {
    height: 100%;
}

.fm-container .fm-splitter .splitter-bar-vertical {
    width: 6px;
    background: url(../images/vgrabber.gif) no-repeat center;
}

.fm-container .fm-splitter > * {
    /* to override height defined by splitter */
    height: 100% !important;
}

.fm-container .fm-filetree {
    overflow-y: auto;
    overflow-x: auto;
    color: #333;
    margin: 0;
    padding: 5px 0 0 5px;
}

.fm-container .fm-filetree li {
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0
}

.fm-container .fm-filetree li ul {
    margin: 0;
    padding: 0 0 0 18px
}

.fm-container .fm-filetree li ul.line {
    background: url(../images/filetree/line_conn.gif) 0 0 repeat-y;
}

.fm-container .fm-filetree li > div.row {
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fm-container .fm-filetree li.drop-hover > div.row {
    background-color: #bbbbbb;
}
.fm-container .fm-filetree li.drop-hover > a {
    color: #000000;
}

.fm-container .fm-filetree li.ui-selected > div.row {
    background-color: #b8c6da;
}
.fm-container .fm-filetree li.ui-selected > a {
    color: #000000;
}

.fm-container .fm-filetree li > a {
    position: relative;
    font-size: 12px;
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 18px;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block
}

.fm-container .fm-filetree li > a:hover {
    color: #000000;
    background-color: #b8c6da;
    text-decoration: none
}

.fm-container .fm-filetree li > a.curSelectedNode {
    padding-top: 0;
    background-color: #FFE6B0;
    color: black;
    height: 16px;
    border: 1px #FFB951 solid;
    opacity: 0.8;
}

.fm-container .fm-filetree li span {
    position: relative;
    line-height: 16px;
}

.fm-container .fm-filetree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../images/filetree/preset.png");
    *background-image: url("../images/filetree/preset.gif")
}

.fm-container .fm-filetree li span.button.switch {
    width: 18px;
    height: 18px;
}
.fm-container .fm-filetree li span.button.root_open {background-position: -92px -54px;}
.fm-container .fm-filetree li span.button.root_close {background-position: -74px -54px;}
.fm-container .fm-filetree li span.button.roots_open {background-position: -92px 0;}
.fm-container .fm-filetree li span.button.roots_close {background-position: -74px 0;}
.fm-container .fm-filetree li span.button.center_open {background-position: -92px -18px;}
.fm-container .fm-filetree li span.button.center_close {background-position: -74px -18px;}
.fm-container .fm-filetree li span.button.bottom_open {background-position: -92px -36px;}
.fm-container .fm-filetree li span.button.bottom_close {background-position: -74px -36px;}
.fm-container .fm-filetree li span.button.noline_open {background-position: -92px -72px;}
.fm-container .fm-filetree li span.button.noline_close {background-position: -74px -72px;}
.fm-container .fm-filetree li span.button.root_docu {background: none;}
.fm-container .fm-filetree li span.button.roots_docu {background-position: -56px 0;}
.fm-container .fm-filetree li span.button.center_docu {background-position: -56px -18px;}
.fm-container .fm-filetree li span.button.bottom_docu {background-position: -56px -36px;}
.fm-container .fm-filetree li span.button.noline_docu {background: none;}

.fm-container .fm-fileinfo {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    text-align: center;
    color: #333;
    padding: 0;
    margin: 0;
}

.fm-container .fm-fileinfo * {
    font-size: 12px;
}

.fm-container .fm-fileinfo .fm-loading-view {
    width: 30px;
    height: 30px;
    margin: 100px auto 0;
    background: url(../images/spinner.gif) no-repeat center center;
}

.fm-container .fm-fileinfo .fm-renderer-container {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

.fm-container .fm-fileinfo .view-items-wrapper .fm-renderer-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    flex: 0 1 auto;
}

.fm-container .fm-fileinfo div.CodeMirror {
    text-align: left;
    height: auto;
}

.fm-container .fm-fileinfo div.CodeMirror * {
    font-family: monospace;
    line-height: 17px;
    font-size: 14px;
}

.fm-container .fm-fileinfo div.CodeMirror.CodeMirror-fullscreen {
    width: 100%;
    margin: 0;
    z-index: 9;
}

.fm-container .fm-fileinfo .fm-renderer-container div.CodeMirror {
    padding: 10px;
    background-color: #F7F7F7;
}

.fm-container .fm-preview .fm-preview-edit-panel div.CodeMirror {
    background-color: #FFFFFF;
}

.fm-container .fm-preview-wrapper {
    height: 100%;
}

.fm-container .fm-preview {
    position: relative;
    width: 100%;
}

.fm-container .fm-preview .fm-preview-viewer {
    margin: 25px;
}

.fm-container .fm-preview .fm-preview-viewer img {
    max-width: 80%;
}

.fm-container .fm-preview .fm-preview-edit-panel,
.fm-container .fm-preview .fm-preview-view-panel .fm-js-viewer {
    width: 70%;
    border: 1px solid #eee;
    margin: 0 auto;
}

.fm-container .fm-preview .fm-preview-edit-panel button {
    color: black;
}

.fm-container .fm-preview .fm-preview-viewer.side-by-side-panels .fm-preview-edit-panel {
    float: left;
    width: 49%;
}

.fm-container .fm-preview .fm-preview-viewer.side-by-side-panels .fm-preview-view-panel {
    margin-left: 51%;
}

.fm-container .fm-preview .fm-preview-viewer.side-by-side-panels .fm-renderer-container {
    width: 100%;
}

.fm-container .fm-preview .fm-preview-details {
    width: 400px;
    margin: 20px auto;
}

.fm-container .fm-preview .fm-preview-details table {
    width: 100%
}

.fm-container .fm-preview .fm-preview-details td {
    width: 50%;
    padding: 4px;
    text-align: left;
    border-bottom: 1px dotted #ccc;
}

.fm-container .fm-preview .fm-preview-details td:nth-child(2) {
    font-weight: bold;
}

.fm-container .fm-preview .fm-preview-toolbar {
    margin-top: 30px;
}

.fm-container .fm-preview .fm-preview-toolbar button {
    cursor: pointer;
}

.fm-container .fm-preview .btn-file-preview-close span {
    background-image: url(../images/parentfolder.png);
}
.fm-container .fm-preview .btn-file-select span {
    background-image: url(../images/accept.png);
}
.fm-container .fm-preview .btn-file-download span {
    background-image: url(../images/download.png);
}
.fm-container .fm-preview .btn-file-rename span {
    background-image: url(../images/tag.png);
}
.fm-container .fm-preview .btn-file-move span {
    background-image: url(../images/move.png);
}
.fm-container .fm-preview .btn-file-delete span {
    background-image: url(../images/bin_closed.png);
}
.fm-container .fm-preview .btn-file-edit span {
    background-image: url(../images/edit_dark.png);
}
.fm-container .fm-preview .btn-file-save span {
    background-image: url(../images/save_dark.png);
}
.fm-container .fm-preview .btn-file-editor-close span {
    background-image: url(../images/reset_dark.png);
}

.fm-container .fm-preview .fm-preview-title {
    margin: 10px auto;
}

.fm-container .fm-preview .fm-preview-title h1 {
    font-size: 20px;
    display: inline-block;
}

.fm-container .fm-preview .fm-preview-title-controls {
    display: inline-block;
    margin-left: 1em;
}

.fm-container .fm-preview .fm-preview-title-controls a {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    margin: 0 0.2em;
}

.fm-container .fm-preview .btn-editor-open {
    background: url(../images/edit.png) no-repeat center center;
}
.fm-container .fm-preview .btn-editor-save {
    background: url(../images/save.png) no-repeat center center;
}
.fm-container .fm-preview .btn-editor-quit {
    background: url(../images/reset.png) no-repeat center center;
}
.fm-container .fm-preview .btn-copy-url {
    background: url(../images/copy.png) no-repeat center center;
}


/** Input file Replacement */

.fm-container input {
    vertical-align: text-top;
}

.fm-container #file-input-container {
    display: inline;
    margin: 0;
    position: relative;
    top: 0;
    width: 255px;
    height: 32px;
    overflow: hidden;
}

.fm-container #newfile {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    border: 1px solid blue;
}

.fm-container .hidden-file-input {
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
    width: 1px;
    z-index:-1;
}

.fm-container #alt-fileinput {
    display: inline;
}

.fm-container #filepath {
    margin: 0;
    padding: 0 5px;
    line-height: 26px;
    background-color: #F4F1ED;
    border: 1px solid #dcdcdc;
}

.fm-container button#browse {
    margin-left:0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-height: 16px;
    min-width: 40px;
}
.fm-container button#browse span {
    margin:0;
    padding:0;
    background: url(../images/plus.png) no-repeat center center;
    display: block;
    color:#666;
    text-shadow: none;
}
/** Input file Replacement - end */

.fm-container .fm-footer .right {
    float: right;
}

.fm-container .fm-footer .left {
    float: left;
}

.fm-container #folder-info {
    display: inline-block;
}

.fm-container #folder-info {
    font-size: 0.8em;
    color: #777;
    padding: 1.3em 0.5em 0 1.3em;
}

.fm-container #summary {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/summary.png) no-repeat center center;
    cursor: pointer;
}

.fm-container #link-to-project {
    height: 12px;
    width: 45px;
    display: inline-block;
    background: transparent url(../images/fmlogo.png) no-repeat 0 0;
    margin: 1em 1em 0 1em;
}

.fm-container .search-box {
    position: relative;
}

.fm-container .search-box input {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin: 0.5em 0 0;
    padding: 0.1em 0.3em;
    line-height: 1.7em;
    width: 200px;
}

.fm-container .search-box input:focus {
    background-color: #ffffff;
}

.fm-container .search-box .search-box-reset {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/reset_dark.png) no-repeat center center;
    opacity: 0.5;
    right: 6px;
    top: 12px;
    cursor: pointer;
}

.fm-container .fm-splitter .mCSB_container_wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
}

/* to expand selectable area to 100% vertically in case no scroll */
.fm-container .fm-fileinfo .mCSB_container.mCS_no_scrollbar_y {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.fm-container .view-items-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.fm-container .view-items {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
}

.fm-container .view-items .grid {
    padding: 15px;
    text-align: left;
}

.fm-container .view-items .grid li {
    display: inline-block;
    width: 142px;
    height: 142px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border: 1px solid white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fm-container .view-items .grid li:hover:not(.ui-selected) {
    border: 1px solid #E5E5E5;
    background-color: #F7F7F7;
}

.fm-container .view-items .grid .item-content {
    height: 100%;
    overflow: hidden;
}

.fm-container .view-items .grid .item-content .clip {
    width: 64px;
    height: 64px;
    margin: 10px auto;
    overflow: hidden;
}

.fm-container .view-items .grid p {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
}

.fm-container .view-items .grid li.drop-hover,
.fm-container .view-items .list tr.drop-hover {
    background-color: #e0e0e0;
}

.fm-container .view-items .list tbody tr .list-item {
    display: inline-block;
    min-width: 200px;
    padding: 4px;
    cursor: pointer;
}

.fm-container .view-items .list tbody tr:hover:not(.ui-selected) {
    background-color: #eee;
}

.fm-container .view-items .list {
    width: 100%;
}

.fm-container .view-items .list th {
    padding: 6px;
    text-align: center;
    white-space: nowrap;
}

.fm-container .view-items .list thead {
    background: rgb(244,241,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244,241,237,1) 0%, rgba(214,212,209,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,237,1)), color-stop(100%,rgba(214,212,209,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* W3C */
    border-bottom: 1px solid #ccc;
}

.fm-container .view-items .list th {
    font-weight: bold;
    cursor: pointer;
}

.fm-container .view-items .list th.sorted-asc,
.fm-container .view-items .list th.sorted-desc {
    background: rgb(214,212,209); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(214,212,209,1) 0%, rgba(244,241,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,212,209,1)), color-stop(100%,rgba(244,241,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* W3C */
}

.fm-container .view-items .list th.sorted-asc span {
    display: block;
    width: 100%;
    margin-right: 20px;
    background-image: url(../images/bullet_arrow_up.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.fm-container .view-items .list th.sorted-desc span {
    display: block;
    width: 100%;
    margin-right: 20px;
    background-image: url(../images/bullet_arrow_down.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.fm-container .view-items .list td {
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom: 1px dotted #ccc;
}

.fm-container .view-items .list td:first-child {
    width: 100%;
}

.fm-container .view-items .list .list-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}


/** Context menu **/

.fm-container .context-menu-list {
    min-width: 150px;
    background-color:#F4F1ED;
}

.fm-container .context-menu-item {
    font-size: 11px;
    margin: 2px 0;
    background-color: #F4F1ED;
}

.fm-container .context-menu-item:before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 6px;
    top: 0;
}

.fm-container .context-menu-item.context-menu-hover {
    background-color: #BDF;
}

.fm-container .context-menu-item.context-menu-disabled {
    opacity: 0.6;
    color: inherit;
    background-color: inherit;
}

.fm-container .context-menu-item.select:before {
    background-image: url(../images/accept.png);
}
.fm-container .context-menu-item.download:before {
    background-image: url(../images/download.png);
}
.fm-container .context-menu-item.rename:before {
    background-image: url(../images/tag.png);
}
.fm-container .context-menu-item.move:before {
    background-image: url(../images/move.png);
}
.fm-container .context-menu-item.extract:before {
    background-image: url(../images/extract.png);
}
.fm-container .context-menu-item.delete:before {
    background-image: url(../images/bin_closed.png);
}
.fm-container .context-menu-item.create-folder:before {
    background-image: url(../images/folder_add.png);
}
.fm-container .context-menu-item.copy-url:before {
    background-image: url(../images/copy_url.png);
}
.fm-container .context-menu-item.cut:before {
    background-image: url(../images/clipboard/clipboard_cut.png);
}
.fm-container .context-menu-item.copy:before {
    background-image: url(../images/clipboard/clipboard_copy.png);
}
.fm-container .context-menu-item.paste:before {
    background-image: url(../images/clipboard/clipboard_paste.png);
}


/** Drag & Drop **/

.fm-container .drag-helper {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    border: 1px solid white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1000;
}

.fm-container .drag-helper .clip {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    overflow: hidden;
}

.fm-container .drag-helper .item-content {
    height: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0.9;
}

.fm-container .drag-helper .item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B6CDEC;
    opacity: 0.5;
    z-index: 1;
}

.fm-container .drag-helper .dragging-counter {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.fm-container .drag-helper .dragging-counter span {
    display: inline-block;
    margin-left: 10px;
    padding: 0.2em 0.3em;
    background-color: #4e68e7;
    border: 1px solid #FFF;
    border-radius: 5px;
    font-size: 14px !important;
    font-family: monospace;
    font-weight: bold;
    color: #FFF;
}

.fm-container .drag-helper .dragging-stop {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    z-index: 2;
}

.fm-container .drag-helper .dragging-stop .cancel-image {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url(../images/fileicons/drag-n-drop/cancel-4.png) center center no-repeat;
    background-size: cover;
}

.fm-container .drag-helper.drop-restricted .dragging-stop {
    display: block;
}


/** Selectable items **/

.fm-container .ui-selectable-helper {
    position: absolute;
    border: 1px dotted black;
    z-index: 100;
}

.fm-container .view-items .ui-selecting {
    background-color: #CED9E9;
}

.fm-container .view-items .ui-selected {
    background-color: #CED9E9;
}


/** Modal dialog by Alertify plugin */

.fm-popup.alertify,
.fm-log.alertify-logs {
    font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.fm-log.alertify-logs {
    position: absolute;
    font-size: 13px;
    line-height: 13px;
}

.fm-popup.alertify .alert,
.fm-popup.alertify .dialog {
    text-align: center;
    font-size: 12px;
}

.fm-popup.alertify .alert>*,
.fm-popup.alertify .dialog>* {
    width: auto;
    display: inline-block;
}

.fm-popup.alertify .alert [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),
.fm-popup.alertify .dialog [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
    font-size: 13px;
    line-height: 32px;
    min-height: 32px;
}

.fm-popup.alertify div.prompt-info {
    line-height: 12px;
    min-height: 15px;
    margin-top: 5px;
    padding-left: 25px;
    color: #444;
    background: transparent url(../images/info.png) no-repeat 0 0;
    background-position: left center;
}

.fm-popup.alertify .fm-fileupload-container {
    width: auto;
    min-width: 200px;
    max-width: 825px;
}

.fm-popup.alertify .fm-fileupload-container h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    background-color: #A7A1C6;
    overflow: hidden;
}

.fm-popup.alertify .fm-fileupload-container #total-progress .progress-bar {
    height: 5px;
    background-color: #294750;
}

.fm-popup.alertify #summary-popup {
    font-size: 1.2em;
}

.fm-popup.alertify #summary-popup .title {
    font-weight: bold;
    margin-bottom: 0.8em;
}

.fm-popup.alertify #summary-popup .line {
    line-height: 1.4em;
}


/** ICONS - List view and File tree related styles **/

.fm-container .list-icon.ico_folder,
.fm-container li span.button.ico_folder {
    background: url(../images/filetree/ico_folder.png) left top no-repeat;
}

.fm-container .list-icon.ico_folder_lock,
.fm-container li span.button.ico_folder_lock {
    background: url(../images/filetree/ico_folder_lock.png) left top no-repeat;
}

.fm-container .list-icon.ico_folder_open,
.fm-container li span.button.ico_folder_open {
    background: url(../images/filetree/ico_folder_open.png) left top no-repeat;
}

.fm-container .list-icon.ico_file,
.fm-container li span.button.ico_file {
    background: url(../images/filetree/ico_file.png) left top no-repeat;
}

.fm-container .list-icon.ico_file_lock,
.fm-container li span.button.ico_file_lock {
    background: url(../images/filetree/ico_file_lock.png) left top no-repeat !important;
}

.fm-container .list-icon.ico_loading,
.fm-container li span.button.ico_loading {
    background: url(../images/filetree/loading.gif) left top no-repeat;
}


/** ICONS - List view and File tree related styles based on file extension **/

.fm-container .list-icon.ico_ext_3g2,
.fm-container li span.button.ico_ext_3g2 {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_3gp,
.fm-container li span.button.ico_ext_3gp {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_7z,
.fm-container li span.button.ico_ext_7z {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_afp,
.fm-container li span.button.ico_ext_afp {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_afpa,
.fm-container li span.button.ico_ext_afpa {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_asp,
.fm-container li span.button.ico_ext_asp {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_aspx,
.fm-container li span.button.ico_ext_aspx {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_avi,
.fm-container li span.button.ico_ext_avi {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_bat,
.fm-container li span.button.ico_ext_bat {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_bmp,
.fm-container li span.button.ico_ext_bmp {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_c,
.fm-container li span.button.ico_ext_c {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_cfm,
.fm-container li span.button.ico_ext_cfm {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_cgi,
.fm-container li span.button.ico_ext_cgi {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_com,
.fm-container li span.button.ico_ext_com {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_cpp,
.fm-container li span.button.ico_ext_cpp {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_css,
.fm-container li span.button.ico_ext_css {
    background: url(../images/filetree/ico_css.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_csv,
.fm-container li span.button.ico_ext_csv {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_doc,
.fm-container li span.button.ico_ext_doc {
    background: url(../images/filetree/ico_doc.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_docx,
.fm-container li span.button.ico_ext_docx {
    background: url(../images/filetree/ico_doc.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_exe,
.fm-container li span.button.ico_ext_exe {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_gif,
.fm-container li span.button.ico_ext_gif {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_f4v,
.fm-container li span.button.ico_ext_f4v {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_fla,
.fm-container li span.button.ico_ext_fla {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_flv,
.fm-container li span.button.ico_ext_flv {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_h,
.fm-container li span.button.ico_ext_h {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_htm,
.fm-container li span.button.ico_ext_htm {
    background: url(../images/filetree/ico_html.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_html,
.fm-container li span.button.ico_ext_html {
    background: url(../images/filetree/ico_html.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_jar,
.fm-container li span.button.ico_ext_jar {
    background: url(../images/filetree/ico_java.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_jpg,
.fm-container li span.button.ico_ext_jpg {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_jpeg,
.fm-container li span.button.ico_ext_jpeg {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_js,
.fm-container li span.button.ico_ext_js {
    background: url(../images/filetree/ico_script.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_lasso,
.fm-container li span.button.ico_ext_lasso {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_log,
.fm-container li span.button.ico_ext_log {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_m4p,
.fm-container li span.button.ico_ext_m4p {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_m4v,
.fm-container li span.button.ico_ext_m4v {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_mov,
.fm-container li span.button.ico_ext_mov {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_mp3,
.fm-container li span.button.ico_ext_mp3 {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_mp4,
.fm-container li span.button.ico_ext_mp4 {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_mpg,
.fm-container li span.button.ico_ext_mpg {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_mpeg,
.fm-container li span.button.ico_ext_mpeg {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_odp,
.fm-container li span.button.ico_ext_odp {
    background: url(../images/filetree/ico_ppt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_ods,
.fm-container li span.button.ico_ext_ods {
    background: url(../images/filetree/ico_xls.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_odt,
.fm-container li span.button.ico_ext_odt {
    background: url(../images/filetree/ico_doc.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_ogv,
.fm-container li span.button.ico_ext_ogv {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_ogg,
.fm-container li span.button.ico_ext_ogg {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_pcx,
.fm-container li span.button.ico_ext_pcx {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_pdf,
.fm-container li span.button.ico_ext_pdf {
    background: url(../images/filetree/ico_pdf.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_php,
.fm-container li span.button.ico_ext_php {
    background: url(../images/filetree/ico_php.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_png,
.fm-container li span.button.ico_ext_png {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_ppt,
.fm-container li span.button.ico_ext_ppt {
    background: url(../images/filetree/ico_ppt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_pptx,
.fm-container li span.button.ico_ext_pptx {
    background: url(../images/filetree/ico_ppt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_psd,
.fm-container li span.button.ico_ext_psd {
    background: url(../images/filetree/ico_psd.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_pl,
.fm-container li span.button.ico_ext_pl {
    background: url(../images/filetree/ico_script.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_py,
.fm-container li span.button.ico_ext_py {
    background: url(../images/filetree/ico_script.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_rar,
.fm-container li span.button.ico_ext_rar {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_rb,
.fm-container li span.button.ico_ext_rb {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_rbx,
.fm-container li span.button.ico_ext_rbx {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_rhtml,
.fm-container li span.button.ico_ext_rhtml {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_rpm,
.fm-container li span.button.ico_ext_rpm {
    background: url(../images/filetree/ico_linux.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_ruby,
.fm-container li span.button.ico_ext_ruby {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_sql,
.fm-container li span.button.ico_ext_sql {
    background: url(../images/filetree/ico_db.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_swf,
.fm-container li span.button.ico_ext_swf {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_tar,
.fm-container li span.button.ico_ext_tar {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_tif,
.fm-container li span.button.ico_ext_tif {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_tiff,
.fm-container li span.button.ico_ext_tiff {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_txt,
.fm-container li span.button.ico_ext_txt {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_vb,
.fm-container li span.button.ico_ext_vb {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_wav,
.fm-container li span.button.ico_ext_wav {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_weba,
.fm-container li span.button.ico_ext_weba {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_webm,
.fm-container li span.button.ico_ext_webm {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_wmv,
.fm-container li span.button.ico_ext_wmv {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_xls,
.fm-container li span.button.ico_ext_xls {
    background: url(../images/filetree/ico_xls.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_xlsx,
.fm-container li span.button.ico_ext_xlsx {
    background: url(../images/filetree/ico_xls.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_xml,
.fm-container li span.button.ico_ext_xml {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
}

.fm-container .list-icon.ico_ext_zip,
.fm-container li span.button.ico_ext_zip {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
}


/** ICONS - Grid view related styles **/

.fm-container .grid-icon {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fm-container .fm-fileinfo .view-items .grid-icon {
    width: 64px;
    height: 64px;
}

.fm-container .fm-fileinfo .fm-preview .grid-icon {
    width: 128px;
    height: 128px;
}

.fm-container .grid-icon.ico_file {
    background-image: url(../images/fileicons/icon_file.png);
}

.fm-container .grid-icon.ico_file_lock {
    background-image: url(../images/fileicons/icon_file_lock.png);
}

.fm-container .grid-icon.ico_folder {
    background-image: url(../images/fileicons/icon_folder.png);
}

.fm-container .grid-icon.ico_folder_lock {
    background-image: url(../images/fileicons/icon_folder_lock.png);
}

.fm-container .grid-icon.ico_folder_parent {
    background-image: url(../images/fileicons/icon_folder_parent.png);
}

.fm-container .grid-icon.ico_multiple {
    background-image: url(../images/fileicons/icon_multiple.png);
}


/** ICONS - Grid view related styles based on file extension **/

.fm-container .grid-icon.ico_ext_3g2 {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_3gp {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_7z {
    background-image: url(../images/fileicons/icon_zip.png);
}

.fm-container .grid-icon.ico_ext_aac {
    background-image: url(../images/fileicons/icon_aac.png);
}

.fm-container .grid-icon.ico_ext_avi {
    background-image: url(../images/fileicons/icon_avi.png);
}

.fm-container .grid-icon.ico_ext_bmp {
    background-image: url(../images/fileicons/icon_bmp.png);
}

.fm-container .grid-icon.ico_ext_chm {
    background-image: url(../images/fileicons/icon_chm.png);
}

.fm-container .grid-icon.ico_ext_css {
    background-image: url(../images/fileicons/icon_css.png);
}

.fm-container .grid-icon.ico_ext_csv {
    background-image: url(../images/fileicons/icon_txt.png);
}

.fm-container .grid-icon.ico_ext_dll {
    background-image: url(../images/fileicons/icon_dll.png);
}

.fm-container .grid-icon.ico_ext_doc,
.fm-container .grid-icon.ico_ext_docx {
    background-image: url(../images/fileicons/icon_doc.png);
}

.fm-container .grid-icon.ico_ext_fla {
    background-image: url(../images/fileicons/icon_fla.png);
}

.fm-container .grid-icon.ico_ext_gif {
    background-image: url(../images/fileicons/icon_gif.png);
}

.fm-container .grid-icon.ico_ext_htm,
.fm-container .grid-icon.ico_ext_html {
    background-image: url(../images/fileicons/icon_html.png);
}

.fm-container .grid-icon.ico_ext_ini {
    background-image: url(../images/fileicons/icon_ini.png);
}

.fm-container .grid-icon.ico_ext_jar {
    background-image: url(../images/fileicons/icon_jar.png);
}

.fm-container .grid-icon.ico_ext_jpg,
.fm-container .grid-icon.ico_ext_jpeg {
    background-image: url(../images/fileicons/icon_jpg.png);
}

.fm-container .grid-icon.ico_ext_js {
    background-image: url(../images/fileicons/icon_js.png);
}

.fm-container .grid-icon.ico_ext_lasso {
    background-image: url(../images/fileicons/icon_lasso.png);
}

.fm-container .grid-icon.ico_ext_m4p {
    background-image: url(../images/fileicons/icon_music.png);
}

.fm-container .grid-icon.ico_ext_m4v {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_mdb {
    background-image: url(../images/fileicons/icon_mdb.png);
}

.fm-container .grid-icon.ico_ext_mov {
    background-image: url(../images/fileicons/icon_mov.png);
}

.fm-container .grid-icon.ico_ext_mp3 {
    background-image: url(../images/fileicons/icon_mp3.png);
}

.fm-container .grid-icon.ico_ext_mp4 {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_mpg {
    background-image: url(../images/fileicons/icon_mpg.png);
}

.fm-container .grid-icon.ico_ext_mpeg {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_odp {
    background-image: url(../images/fileicons/icon_odp.png);
}

.fm-container .grid-icon.ico_ext_ods {
    background-image: url(../images/fileicons/icon_ods.png);
}

.fm-container .grid-icon.ico_ext_odt {
    background-image: url(../images/fileicons/icon_odt.png);
}

.fm-container .grid-icon.ico_ext_ogg {
    background-image: url(../images/fileicons/icon_music.png);
}

.fm-container .grid-icon.ico_ext_pcx {
    background-image: url(../images/fileicons/icon_image.png);
}

.fm-container .grid-icon.ico_ext_ogv {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_pdf {
    background-image: url(../images/fileicons/icon_pdf.png);
}

.fm-container .grid-icon.ico_ext_php {
    background-image: url(../images/fileicons/icon_php.png);
}

.fm-container .grid-icon.ico_ext_png {
    background-image: url(../images/fileicons/icon_png.png);
}

.fm-container .grid-icon.ico_ext_ppt,
.fm-container .grid-icon.ico_ext_pptx {
    background-image: url(../images/fileicons/icon_ppt.png);
}

.fm-container .grid-icon.ico_ext_py {
    background-image: url(../images/fileicons/icon_py.png);
}

.fm-container .grid-icon.ico_ext_rar {
    background-image: url(../images/fileicons/icon_zip.png);
}

.fm-container .grid-icon.ico_ext_rb {
    background-image: url(../images/fileicons/icon_rb.png);
}

.fm-container .grid-icon.ico_ext_real {
    background-image: url(../images/fileicons/icon_real.png);
}

.fm-container .grid-icon.ico_ext_reg {
    background-image: url(../images/fileicons/icon_reg.png);
}

.fm-container .grid-icon.ico_ext_rtf {
    background-image: url(../images/fileicons/icon_rtf.png);
}

.fm-container .grid-icon.ico_ext_sql {
    background-image: url(../images/fileicons/icon_sql.png);
}

.fm-container .grid-icon.ico_ext_swf {
    background-image: url(../images/fileicons/icon_swf.png);
}

.fm-container .grid-icon.ico_ext_tar {
    background-image: url(../images/fileicons/icon_zip.png);
}

.fm-container .grid-icon.ico_ext_tif,
.fm-container .grid-icon.ico_ext_tiff {
    background-image: url(../images/fileicons/icon_image.png);
}

.fm-container .grid-icon.ico_ext_txt {
    background-image: url(../images/fileicons/icon_txt.png);
}

.fm-container .grid-icon.ico_ext_vbs {
    background-image: url(../images/fileicons/icon_vbs.png);
}

.fm-container .grid-icon.ico_ext_wav {
    background-image: url(../images/fileicons/icon_wav.png);
}

.fm-container .grid-icon.ico_ext_weba {
    background-image: url(../images/fileicons/icon_music.png);
}

.fm-container .grid-icon.ico_ext_webm {
    background-image: url(../images/fileicons/icon_movie.png);
}

.fm-container .grid-icon.ico_ext_wma {
    background-image: url(../images/fileicons/icon_wma.png);
}

.fm-container .grid-icon.ico_ext_wmv {
    background-image: url(../images/fileicons/icon_wmv.png);
}

.fm-container .grid-icon.ico_ext_xls,
.fm-container .grid-icon.ico_ext_xlsx {
    background-image: url(../images/fileicons/icon_xls.png);
}

.fm-container .grid-icon.ico_ext_xml {
    background-image: url(../images/fileicons/icon_xml.png);
}

.fm-container .grid-icon.ico_ext_xsl {
    background-image: url(../images/fileicons/icon_xsl.png);
}

.fm-container .grid-icon.ico_ext_zip {
    background-image: url(../images/fileicons/icon_zip.png);
}